<a href="https://colab.research.google.com/github/samia2456/191-15-2456_PC-C_OOP-II_LabWork/blob/master/Week_2_Control_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IF statement**

---

In [ ]:
grade = 85
if grade>=60:
  print("passed")

passed

# **If else statement**

---

In [ ]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

***Conditional*** expression

In [ ]:
result = ('Passed' if grade >= 60 else 'Failed')

In [ ]:
print(result)

Passed

In [ ]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

# **While Statement**

---

In [ ]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

# **For statement**

---

In [ ]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

In [ ]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [ ]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [ ]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

*Nested For Loop*


---

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

Break statement

In [ ]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

Continue statement

In [ ]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

# **Beginner Problem solving from Uri Online Judge**


---

# [Uri Online Judge](https://www.urionlinejudge.com.br/judge/en/problems/index/1)


---


> Some basic problem for practice


> [Extremely Basic](https://www.urionlinejudge.com.br/judge/en/problems/view/1001)


> [Area of a Circle](https://www.urionlinejudge.com.br/judge/en/problems/view/1002)

> [Difference](https://www.urionlinejudge.com.br/judge/en/problems/view/1007)

> [Age in Days](https://www.urionlinejudge.com.br/judge/en/problems/view/1020)

**Problem1: Extremely Basic**

In [12]:
x = int(input("Enter first Number(A): "))
y = int(input("Enter first Number(B): "))

print("X = ",(x+y))

Enter first Number(A): 10
Enter first Number(B): 9
X =  19

**Problem2:Area of a Circle**

In [13]:
r = int(input("Enter Radius: "))
print("A=",(3.14159*r*r))

Enter Radius: 2
A= 12.56636